body {
    margin: 0;
}

.navigation {
    background: red;
    padding: 10px;
    height: 100px;
    color: white;
}

.navigation h2 {
    margin: 30px;
    float: right;
}

.wrap {
    height: 650px;
}

.wrap .left-menu {
    background: black;
    color: white;
    float: left;
    width: 250px;
    height: 850px;
}

.wrap .left-menu ul {
    margin: 50px 50px;
}

.wrap .left-menu ul li {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.wrap .left-menu table{
    background: white;
}
.wrap .left-menu ul li a{
    color: black;
}

.wrap .content {
    background: white;
    color: black;
    float: left;
    height: 100%;
    width: 75%;
}

/*Gambar*/
.wrap .content img {
    height: 200px;
}

.wrap .content .foto {
    margin: 20px 40px;
    margin-right: -80px;
}

/*Skill*/
.wrap .content .skill {
    margin: 20px 40px;
    float: center;
    font-size: 22px;
}

.wrap .content .skill ul li{
    margin-top: 10px;
}

.wrap .content .skill table{
    
    margin-left: 50px;
}
.wrap .content .skill table td {
    margin: 20px 20px;
    padding: 10px;
}

/*Data Diri*/
.wrap .content .data-diri {
    margin: 20px 100px;
}

.wrap .content .data-diri table{
    font-size: 22px;
    margin: 20px 20px;
}

.wrap .content .data-diri table tr{
    padding: 10px;
}

.wrap .content .data-diri table td{
    padding: 10px;
}

/*Riwayat Sekolah*/
.wrap .content .riwayat_sekolah{
    margin: 20px 100px;
}
.wrap .content .riwayat_sekolah table{
    font-size: 22px;
    margin: 20px 20px;
}

.wrap .content .riwayat_sekolah table td{
    padding: 10px;
    text-align: center;
}
.wrap .content .riwayat_sekolah table tr{
    padding: 10px;
    
}

/*Riwayat Kerja*/
.wrap .content .riwayat_kerja{
    margin: 20px 100px;
}
.wrap .content .riwayat_kerja table{
    font-size: 20px;
    margin: 20px 20px;
}

.wrap .content .riwayat_kerja table td{
    padding: 10px;
    text-align: center;
}
.wrap .content .riwayat_kerja table tr{
    padding: 10px;
    
}
