
    body {
        margin: 0;
    }

    .wrap {
        height:650px;
    }

    .navigation {
        background: red;
        padding: 20px;
        height: 100px;
        color: white;
        
    }
   
    img {
        height: 100px;
        width: 100px;
    }

    .wrap .left-menu {
        background: black;
        color: white;
        float: left;
        width: 25%;
        height: 100%;
    }

    .wrap .content {
        background: white;
        color: black;
        float: left;
        height: 100%;
        width: 75%;
    }